<%# image_tag @user.image.url(:large) if @user.image.present? %>
<section>
<div class="header">
  <div class="back-button">
    <a class="back-button" href="/">&lt;</a>
  </div>
  <div class="title">
    MY REPORTS
  </div>
</div>
<div class="user-report">
  <font color="grey">Lost Pet</font>
</div>
<% @user.pets.each do |p| %>
  <div class="user-report-pet">
    <div class="row">
      <a href="/pets/<%= p.id %>">
      <div class="col-xs-3">
        <%= image_tag p.images.url(:medium) if p.images.present? %>
      </div>
      <div class="col-xs-8">
        <div class="post-title">
          <font color="blue">Name: <%= p.name %></font>
        </div>
        <div class="post-title">
          <font color="blue">Last Seen Location</font>
        </div>
        <div class="post-body">
          <%= p.address %>
          <%= p.date_seen %>
        </div>
      </div>
      </a>
    </div>
  </div>
<% end %>

<div class="user-report">
  <font color="grey">Found Pet</font>
</div>
<% @user.sightings.each do |p| %>
  <div class="user-report-pet">
    <div class="row">
      <a href="/sightings/<%= p.id %>">
      <div class="col-xs-3">
        <%= image_tag p.images.url(:medium) if p.images.present? %>
      </div>
      <div class="col-xs-8">
        <div class="post-title">
          <font color="blue">Last Seen Location</font>
        </div>
        <div class="post-body">
          <%= p.address %>
          <%= p.date_seen %>
        </div>
      </div>
      </a>
    </div>
  </div>
<% end %>
</section>
